<a href="https://colab.research.google.com/github/LuisaPolicarpo/Project3/blob/main/luisa_p.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
import pandas as pd
import pickle

In [2]:

name_b = pd.read_csv('https://datasets.imdbws.com/name.basics.tsv.gz', compression = 'gzip', sep = '\t')[['nconst','primaryName','primaryProfession']]
title_p = pd.read_csv('https://datasets.imdbws.com/title.principals.tsv.gz', compression = 'gzip', sep = '\t')[['tconst','ordering','nconst']]

In [3]:
name_b

             nconst         primaryName                    primaryProfession
0         nm0000001        Fred Astaire       soundtrack,actor,miscellaneous
1         nm0000002       Lauren Bacall                   actress,soundtrack
2         nm0000003     Brigitte Bardot  actress,soundtrack,music_department
3         nm0000004        John Belushi              actor,soundtrack,writer
4         nm0000005      Ingmar Bergman                writer,director,actor
...             ...                 ...                                  ...
12032587  nm9993714   Romeo del Rosario  animation_department,art_department
12032588  nm9993716       Essias Loberg                                  NaN
12032589  nm9993717  Harikrishnan Rajan                      cinematographer
12032590  nm9993718         Aayush Nair                      cinematographer
12032591  nm9993719          Andre Hill                                  NaN

[12032592 rows x 3 columns]

In [ ]:
# name_b.to_pickle("zz-name.basics.pickle")
# title_p.to_pickle("zz-title.principals.pickle")

NameError: ignored

In [ ]:
# name_basics= name_b.drop(['birthYear', 'deathYear','knownForTitles'],axis=1)

# name_basics.head()

      nconst      primaryName                    primaryProfession
0  nm0000001     Fred Astaire       soundtrack,actor,miscellaneous
1  nm0000002    Lauren Bacall                   actress,soundtrack
2  nm0000003  Brigitte Bardot  actress,soundtrack,music_department
3  nm0000004     John Belushi              actor,soundtrack,writer
4  nm0000005   Ingmar Bergman                writer,director,actor

In [ ]:
# title_pri= title_p.drop(['category','job','characters'],axis=1)

# title_pri.head()

      tconst  ordering     nconst
0  tt0000001         1  nm1588970
1  tt0000001         2  nm0005690
2  tt0000001         3  nm0374658
3  tt0000002         1  nm0721526
4  tt0000002         2  nm1335271

In [3]:
top_movies= pd.merge(title_p, name_b, how='inner', on=['nconst', 'nconst'])
top_movies

,tconst,ordering,nconst,primaryName,primaryProfession
0,tt0000001,1,nm1588970,Carmencita,soundtrack
1,tt7513040,2,nm1588970,Carmencita,soundtrack
2,tt0000001,2,nm0005690,William K.L. Dickson,"cinematographer,director,producer"
3,tt0000005,3,nm0005690,William K.L. Dickson,"cinematographer,director,producer"
4,tt0000006,1,nm0005690,William K.L. Dickson,"cinematographer,director,producer"
...,...,...,...,...,...
52737319,tt9916856,3,nm10538646,Andreas Demmel,NaN
52737320,tt9916856,4,nm10538647,Kathrin Knöpfle,NaN
52737321,tt9916856,5,nm10538645,Johan Planefeldt,director
52737322,tt9916856,6,nm6951431,Johan Planefeldt,"writer,cinematographer,camera_department"
52737323,tt9916856,7,nm10538653,Farahnaz Hatam,composer

In [ ]:
top_movies[['P1', 'P2', 'P3']] = top_movies['primaryProfession'].str.split(',', expand=True)

top_movies